* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    color: #201658;

    overflow: hidden;

    position: relative;
}

h2 span {
    font-size: 44px;
    color: #535C91;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #9290C3;
}

a:hover {
    border-radius: 15px;
    color:#1B1A55 ;
}
/* ends base*/

.container {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
}

button {
    display: inline-block;
    outline: none;
    border: none;
    background-color: transparent;
}

/*ends ublic styling */

header {
    width: 100%;
    height: auto;
    padding: 30px 0 0 0px;

    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo h2 a {
    font-size: 1.5em;
    letter-spacing: 5px;
}

header nav a {
    font-size: .95em;
    font-weight: 600;
    margin-left: 15px;
    padding: 5px 8px;

    position: relative;
}


header nav button a {
    margin-left: 10px;
    color: black;
}

header nav button a i {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 5px;
}

header nav button a:hover i {
    color: rgb(219, 127, 255);
}

/* ends header */

.hero {
    width: 100%;
    height: 100vh;
    background-color: #F0F3FF;

    position: relative;
    padding-top: 10vh;   
}

.hero .container {
    height: 100%;
    position: relative;
}

.mid {
    padding: 0 2%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.mid .desc {
    width: 40%;
    line-height: 1.3;
    margin-bottom: 25px;
}

.desc p {
    font-size: .95em;
    margin: 25px 0;
}

.cta a {
    font-weight: 600;
    padding: 8px 25px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: #1B1A55;
    color: #ffffff;
    margin: 10px 8px 0;
}

.cta a:hover {
    background-color: #ffffff;
    border: 2px solid  #ffffff;
    color: #1B1A55;
    cursor: pointer;
} 


/* wrapper */

.wrapper{
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 50px 0 0 50px;
}

.img1 {
    background-image:url(img/img1.jpg);
}

.img2 {
    background-image:url(img/img2.jpg);
}

.img3 {
    background-image:url(img/img3.jpg);
}

.img4 {
    background-image:url(img/img4.jpeg);
}

.slides  {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    
    cursor: pointer;
    margin: 10px;

    flex: 0.6;
    position: relative;
}

.slides h2 {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    color: #ffffff;
}

.slides.active {
    flex: 5;

    box-shadow: 5px 5px 20px black;
    transition: transform .5s linear;
    transform: translateX(-1%);

}

.slides.active h2 {
    opacity: 1;
}

.connect {
    position: absolute;
    bottom: 30px;
    left: 0px;
}

.book {
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.connect a i {
    display: inline-block;
    font-size: 1.4em;
    margin: 5px;
}

/* ends hero styling */

.hamb {
    width: 35px;
    height: auto;
    cursor:pointer;
    text-align: right;
    display: none;

    position: absolute;
    top:38px;
    right: 32px;

    z-index: 3;
}

.hamb span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: rgb(219, 127, 255);
}

.hamb span.mid {
    width: 70%;
    margin: 7px 0;
}

.hamb span.bottom {
    width: 50%;
}